<div class="container-fluid gtco-banner-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          We promise to bring the best <span>digital solution</span> for your
          business.
        </h1>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img
            class="card-img-top img-fluid"
            src="/images/word-map.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container gtco-purpose p-0">
      <div class="container p-0">
        <!-- <h2 class="pt-5">What our customers say about us.</h2> -->
        <div class="owl-carousel owl-carousel1 owl-theme">
          <div class="card text-center w-100">
            <img class="card-img-top" src="../images/why_banner.jpg" alt="" />
            <div class="card-body">
              <h5>
                John Smith <br />
                <span> CEO, TechCorp </span>
              </h5>
              <p class="card-text">
                "GyTechFlow team helped us develop a custom software solution
                that perfectly met our needs. They were professional, efficient
                and great to work with."
              </p>
            </div>
          </div>
          <div class="card text-center">
            <img class="card-img-top" src="../images/customer2.jpg" alt="" />
            <div class="card-body">
              <h5>
                John Smith <br />
                <span> </span>
              </h5>
              <p class="card-text">
                "GyTechFlow team helped us develop a custom software solution
                that perfectly met our needs. They were professional, efficient
                and great to work with."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div>
        <p>
          <span> Why Gytechflow?</span>
          <br />
          In the bustling world of business, where innovation is the key to
          success, one company stands out for its unwavering commitment to
          providing customized solutions that cater to the unique needs of its
          clients. Gytechflow, a name synonymous with excellence and innovation,
          understands that every business is distinct, and thus, offers tailored
          solutions that set it apart in the industry.
          <br />

          <span>What We Do?</span>
          <br />
          At Gytechflow, we pride ourselves on our ability to address the
          specific needs of each of our customers. We recognize that no two
          businesses are the same, and cookie-cutter solutions won't cut it. We
          specialize in four core areas to help our clients thrive in the
          digital age:

          <span>How We Do It?</span>
          <br />
          Our approach is built on a foundation of collaboration and
          partnership. We start by listening, understanding, and assessing your
          unique business needs. We believe in creating a synergy between your
          vision and our expertise. Only then do we craft tailored solutions
          that address your specific challenges and opportunities. Gytechflow's
          success is rooted in our dedication to our clients' success. We go the
          extra mile, leveraging our skills, experience, and industry knowledge
          to deliver outstanding results. We measure our success by your
          success, and it's a journey we're excited to embark on with every
          client. In the world of Gytechflow, there's no one-size-fits-all. We
          are the storytellers of your enterprise, and every story we tell is
          unique, just like your business. Join us on this exciting journey
          towards a brighter, more digitally empowered future.
        </p>
      </div>
    </div> -->
  </div>
</div>
<div class="container-fluid gtco-testimonials edde">
  <div class="container">
    <h2 class="pt-5">What our customers say about us.</h2>
    <div class="owl-carousel owl-carousel1 owl-theme">
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/customer2.jpg" alt="" />
          <div class="card-body">
            <h5>
              John Smith <br />
              <span> CEO, TechCorp </span>
            </h5>
            <p class="card-text">
              "GyTechFlow team helped us develop a custom software solution that
              perfectly met our needs. They were professional, efficient and
              great to work with."
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/customer1.jpg" alt="" />
          <div class="card-body">
            <h5>
              Chris Johnson<br />
              <span>CTO, HealthTech Innovations</span>
            </h5>
            <p class="card-text">
              "GyTechFlow has been an invaluable partner for our company. They
              have helped us build and maintain a complex healthcare application
              with ease and expertise."
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/customer3.jpg" alt="" />
          <div class="card-body">
            <h5>
              Lisa Chen<br />
              <span>Founder, ZenTech</span>
            </h5>
            <p class="card-text">
              "Working with GyTechFlow has been a pleasure. Their team of
              developers are knowledgeable, responsive and always deliver
              quality work on time."
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/customer3.jpg" alt="" />
          <div class="card-body">
            <h5>
              Lisa Chen<br />
              <span>Founder, ZenTech</span>
            </h5>
            <p class="card-text">
              "Working with GyTechFlow has been a pleasure. Their team of
              developers are knowledgeable, responsive and always deliver
              quality work on time."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid gtco-logo-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/images/logo1.png" class="img-fluid" alt="" />
      </div>
      <div class="col">
        <img src="/images/logo2.png" class="img-fluid" alt="" />
      </div>
      <div class="col">
        <img src="/images/logo3.png" class="img-fluid" alt="" />
      </div>
      <div class="col">
        <img src="/images/logo4.png" class="img-fluid" alt="" />
      </div>
      <div class="col">
        <img src="/images/logo5.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid gtco-numbers-block">
  <div class="container">
    <svg width="100%" height="300px" viewBox="0 0 1600 400">
      <defs>
        <linearGradient id="PSgrad_03" x1="80.279%" x2="0%" y2="0%">
          <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
          <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
        </linearGradient>
      </defs>
      <!-- <clipPath id="clip-path3">

                                      </clipPath> -->

      <path
        fill-rule="evenodd"
        fill="url(#PSgrad_03)"
        d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"
      ></path>

      <clipPath id="ctm" fill="none">
        <path
          d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"
        ></path>
      </clipPath>

      <!-- xlink:href for modern browsers, src for IE8- -->
      <image
        clip-path="url(#ctm)"
        xlink:href="../images/word-map.png"
        height="700px"
        width="100%"
        class="svg__image"
      ></image>
    </svg>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">02</h5>
            <p class="card-text">Active Projects</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">06</h5>
            <p class="card-text">Business Growth</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">04</h5>
            <p class="card-text">Completed Projects</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">04</h5>
            <p class="card-text">Happy Clients</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
