<div class="container-fluid gtco-banner-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          We promise to bring the best <span>digital solution</span> for your
          business.
        </h1>
        <p>
          At Gytechflow, we understand that every business has unique needs.
          That's why we offer customized solutions that are tailored to the
          specific needs of each of our customers. We offer services in
          <span class="font-weight-bold"
            >Web development, SEO, Marketing and Analytics</span
          >.
        </p>
        <a href="/services"
          >our Services <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img
            class="card-img-top img-fluid"
            src="images/banner-img.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gtco-news" id="news">
  <div class="container">
    <h2>Latest News & Articles</h2>
    <div class="owl-carousel owl-carousel2 owl-theme">
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news1.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>
              Aenean ultrices lorem quis blandit tempor urabitur accumsan.
            </h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news2.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>Nam vel nisi eget odio pulvinar iaculis. Fusce aliquet.</h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news3.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>
              Morbi faucibus odio sollicitudin risus scelerisque dignissim.
            </h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news1.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>
              Aenean ultrices lorem quis blandit tempor urabitur accumsan.
            </h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news2.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>Nam vel nisi eget odio pulvinar iaculis. Fusce aliquet.</h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <img class="card-img-top" src="../images/news3.jpg" alt="" />
          <div class="card-body text-left pr-0 pl-0">
            <h5>
              Morbi faucibus odio sollicitudin risus scelerisque dignissim.
            </h5>
            <p class="card-text">
              Donec non sem mi. In hac habitasse platea dictumst. Nullam a
              feugiat augue, et porta metus. Nulla mollis lobortis leet.
              Maecenas tincidunt, arcu sed ornare purus risus . . .
            </p>
            <a href="#"
              >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
