<div class="container-fluid gtco-testimonials">
    <div class="container">
        <h2>What our customers say about us.</h2>
        <div class="owl-carousel owl-carousel1 owl-theme">
            <div>
                <div class="card text-center"><img class="card-img-top" src="images/customer2.jpg" alt="">
                    <div class="card-body">
                        <h5>John Smith <br/>
                            <span> CEO, TechCorp </span></h5>
                        <p class="card-text">"GyTechFlow team helped us develop a custom software solution that perfectly met our needs. They were professional, efficient and great to work with."</p>
                        </div>
                    
                </div>
            </div>
            <div>
                <div class="card text-center"><img class="card-img-top" src="images/customer1.jpg" alt="">
                    <div class="card-body">
                        <h5>Chris Johnson<br/>
                            <span>CTO, HealthTech Innovations</span>
                        </h5>
                        <p class="card-text">"GyTechFlow has been an invaluable partner for our company.
                             They have helped us build and maintain a complex healthcare application with ease and expertise."</p>                          </div>
                </div>
            </div>
            <div>
                <div class="card text-center"><img class="card-img-top" src="images/customer3.jpg" alt="">
                    <div class="card-body">
                        <h5>Lisa Chen<br/>
                            <span>Founder, ZenTech</span></h5>
                            <p class="card-text">"Working with GyTechFlow has been a pleasure. Their team of developers are knowledgeable, 
                                responsive and always deliver quality work on time."</p>
                      </div>
                </div>
            </div>

                        <div>
                <div class="card text-center"><img class="card-img-top" src="images/customer3.jpg" alt="">
                    <div class="card-body">
                        <h5>Lisa Chen<br/>
                            <span>Founder, ZenTech</span></h5>
                            <p class="card-text">"Working with GyTechFlow has been a pleasure. Their team of developers are knowledgeable, 
                                responsive and always deliver quality work on time."</p>
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid gtco-features-list">
    <div class="container">
        <div class="row">
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/quality-results.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Expertise in Programming</h5>
                    We provide high-quality programming solutions that are tailored to the specific needs of our clients. 
                    Our team of experts has extensive experience in programming languages such as Java, Python, node.js, react etc. ensuring that we can handle any project, no matter how complex.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/analytics.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">In-Depth Analytics</h5>
                    We offer comprehensive analytics services that help our clients understand their customers better, improve their product offerings, and optimize their marketing strategies. Our team uses advanced analytics tools and techniques to provide actionable insights that drive growth and success.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/affordable-pricing.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Affordable Pricing</h5>
                    We believe that high-quality programming solutions should be accessible to everyone. That's why we offer affordable pricing plans that are tailored to the specific needs and budget of each client. With our competitive pricing, you can get top-notch programming services without breaking the bank.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/easy-to-use.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Easy To Use Products</h5>
                    We design our products with usability in mind, making sure that they are easy to use and navigate for our clients and their customers. Our user-friendly interfaces and intuitive features ensure that our clients can get the most out of our programming solutions without any hassle.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/free-support.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Free Support</h5>
                    We offer free support to all our clients, ensuring that they have access to the help they need whenever they need it. Our dedicated support team is available 24/7 to answer any questions or concerns that our clients may have, providing peace of mind and assurance.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/effectively-increase.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Effectively Increase</h5>
                    Our programming solutions are designed to help our clients streamline their operations,
                     improve their efficiency, and boost their productivity. 
                     By automating repetitive tasks and simplifying complex processes, 
                     we allow our clients to focus on their core business activities and achieve more in less time.
                      With our effective solutions,
                     you can increase your productivity and take your business to the next level.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid gtco-logo-area">
    <div class="container">
        <div class="row">
            <div class="col"><img src="images/logo1.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo2.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo3.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo4.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo5.png" class="img-fluid" alt=""></div>
        </div>
    </div>
</div> -->